<header class="header">
  <div class="header-content">

    <img class="logo" src="/logoMV.svg" alt="Logo" />

    <nav class="menu">
      <a class="menu-item active" aria-current="page" href="#">
        <i class="icon-menu"></i>
        Aventura
      </a>
      <a class="menu-item" href="#">
        <i class="icon-menu"></i>
        Destinos
      </a>
      <a class="menu-item" href="#">
        <i class="icon-menu"></i>
        Alojamiento
      </a>
      <a class="menu-item" href="#">
        Sobre nosotrod
      </a>
    </nav>
    
    <button class="primary-button">Reserva</button>
  
  </div>
  
</header>



<main class="main">
  <section class="carousel">
      <app-carousel></app-carousel>
  </section>

  <section class="content">    

    <div class="main-title">
      <h1 class="main-h1">
        Vive tus propias aventuras
      </h1>
      <h2 class="main-h2">
        Para los que les gusta explorar y conocer mundo sin complejos
      </h2>
    </div>

    <div class="main-content">
      <div class="left-side">
        <app-filters></app-filters>
      </div>
      
      <div class="right-side">
        <!-- <div class="pill-group">
          @for (item of [
            { title: 'Explore the Docs', link: 'https://angular.dev' },
            { title: 'Learn with Tutorials', link: 'https://angular.dev/tutorials' },
            { title: 'CLI Docs', link: 'https://angular.dev/tools/cli' },
            { title: 'Angular Language Service', link: 'https://angular.dev/tools/language-service' },
            { title: 'Angular DevTools', link: 'https://angular.dev/tools/devtools' },
          ]; track item.title) {
            <a
              class="pill"
              [href]="item.link"
              target="_blank"
              rel="noopener"
            >
              <span>{{ item.title }}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="14"
                viewBox="0 -960 960 960"
                width="14"
                fill="currentColor"
              >
                <path
                  d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
                />
              </svg>
            </a>
          }
        </div> -->
        
        <app-cards></app-cards>

      </div>
    </div>
    
  </section>

</main>

<footer class="footer">
  <div class="logo-container">
    <img class="logo" src="/logoMV.svg" alt="Logo" />
  </div>
  <div class="bottom-bar">
    <p class="bottom-text">
      &#64; 2024 Waveless - Todos los derechos reservados.
    </p>
  </div>

</footer>

<router-outlet />
