.carousel-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

:host ::ng-deep{    

    .igx-carousel {
        width: 100vw;
        height: 100%;
        height: 400px;
    }
    
    .image-bg {
        width: 100%;
        height: 100%;        
        background-size: cover;
        background-position: left center;
        border: 0;
        &.slide-1 {
            background-image: url('../../../../public/avoris-bg-desktop.svg');
        }
        &.slide-2 {
            background-image: url('../../../../public/avoris-bg-desktop.svg');
            opacity: 0.5;
        }
        &.slide-3 {
            background-image: url('../../../../public/avoris-bg-desktop.svg');
            opacity: 0.2;
        }
    }
    
}


@media screen and (max-width: 1023px) {
            
}