<div class="carousel-container">
  <igx-carousel #carousel>
    @for (slide of slides; track slide) {
      <igx-slide class="slide">
        <div [class]="slide.class">
          <div class="slide-text">
              <h1>Ruta por Australia</h1>
              <h2>Si te va la aventura, no te lo puedes perder </h2>
              <button class="secondary-button">
                Más Información
              </button>
          </div>
        </div>
      </igx-slide>
    }
  </igx-carousel>
</div>