<mat-card class="card">
    <mat-card-header>        
        <div class="header-card">           
            <img  class="header-image" src="img-card.jpg" alt="Photo">
            <img class="tag-image" src="tag-card.svg" alt="tag">
        </div>        
        
     </mat-card-header>
 
     <mat-card-content>
        <p class="location">
            Marruecos, África <span>9 días</span>
        </p>
        <p class="description">
            Descubre Bangkok con Iberojet
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="price">
            <span>Desde</span>        
            <p class="price-number">248,00 €</p>
            <button class="popover" matButton>Ver desglose </button>
        </div>        
        <button class="white-buttom" matButton>Reservar</button>
    </mat-card-actions>
</mat-card>
